body,html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow-x: hidden;
}
.ui.teal.button{
  margin-bottom: 0.8em;
}
a{
  cursor: pointer!important;
}
.ui.menu .item>.label {
  position: absolute;
  top: -6px;
  left: 30px;
}
.ui.labeled.icon.menu .item{
  min-width: 5em!important;
}
.ui.inverted.icon.menu .item {
  color: #bbbbbc!important;
}
.ui.menu .item>i.dropdown.icon, .ui.menu .right .menu .active.item>i.icon:last-child{
  opacity: 0!important;
}
.ui.menu .dropdown.item .menu{
  background: #1a1c1d!important;
}
.ui.medium.image{
  width: 150px!important;
  height: 150px!important;
  object-fit: cover;
  margin: 1em auto;
}
.ui.card{
  margin-top: 0.5em!important;
  margin-bottom: 0.3em!important;
}
.lazy{
  margin: auto;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align: center;
}
.lazy-parent{
  max-height: 900px;
 overflow-y: auto;
  overflow-x: hidden;
  cursor: pointer;
}
.notifiy .notify-content{
  display: inline-block;
  margin-left: 0.6em;
}
.react-toast-notifications__toast--info .react-toast-notifications__toast__icon-wrapper{
  display: none!important;
}
.list{
  position: absolute;
  z-index: 9999;
  background-color: #1a1c1d;
  width: 250px;
  padding: 20px!important;
  top: 50px;
  height: 300px;
  overflow-y: auto;
}
.ui.list>.item>.content {
  font-size: 1.3em;
  padding: 0.3em !important;
}
.ui.list>.item>img.image+.content{
  width: 100%!important;
}
.msg-btn{
  display: block!important;
  margin: 10px auto!important;
}
.comment{
  margin-left: 0.3em!important;
}
.notification{
  text-align: left!important;
  border-bottom: 1px solid grey!important;
}
.desc-notify{
  padding: 0.4em;
}
.notification-list{
  padding: 5px!important;
}
.text-muted{
  color: darkgray;
}
.text-white{
  color: white!important;
}
.text-center{
  text-align: center!important;
}
.liked{
  padding-right: 5em;
}
@media screen and (max-width: 480px){
  .ui.menu{
    font-size: 0.8em!important;
    justify-content: center;
  }
  .menu-text{
    display: none;
  }
  .ui.menu .item>.label {
    left: 18px;
  }
}